@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}



/* Navbar */
  header {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      position: fixed;
   
    }
    .logo {
      max-width: 160px;
    }

    nav {
      position: relative;
    }

    nav ul {
      display: flex;
      gap: 20px;
      list-style: none;
    }

    nav ul li a {
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      padding-bottom: 3px;
      border-bottom: 3px solid transparent;
      
    }
    nav ul li a:hover,
    nav ul li a.active {
      border-bottom-color: #ffffff;
    }


  /* Pagina 2 */

  .sec_1 {

    height: 100vh;
    background-image:  url(../assets/plano_fund.png);
    background-size: cover;
    background-position: center;
    

  }


  /* Section 1 */
  .fundo-compartilhado {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/turbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
  }
  
  /* Remover o fundo individual das seções */
  .parte_2,
  .parte_2b {
    background: none;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container_1,
.container_2 {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
}

.texto,
.texto_2 {
  max-width: 500px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: white;
  font-size: 20px;
  text-align: justify;
  margin: 10px 0;
}

.img_1,
.img_2 {
  width: 450px;
}

footer {
      background-color: #0d0d0d;
      color: #fdfdfd;
      padding: 2rem 1rem;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }
    .logof {
      display: block;
      margin: 0 auto 1rem auto;
      max-width: 180px; 
    }
    .contact {
      display: flex;
      justify-content: center;
      gap: 2rem; 
      flex-wrap: wrap; 
      font-size: 1rem;
      line-height: 1.6;
    }
    .contact a {
      color: #fdfdfd;
      text-decoration: none;
    }
    .contact a:hover {
      text-decoration: underline;
    }


